
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* Header */


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.54px;
    color: #4d5ae5;
    line-height: 1.17;
}

.logo-text {
    color: #2e2f42;
}

.page-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-link:hover,
.page-link:focus {
    color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-block {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Section-button */
.section-button {
    background-color: #2e2f42;
    
}

.main-heading {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}

.main-button {
    font-family: "Roboto", sans-serif;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* Section-Benefits */


.benefits-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section-Team */
.section-team {
    background-color: #F4F4FD;
   
}

.section-team-heading {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.team-member {
    background-color: #FFFFFF;
    align-items: center;
   
}



.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section-Portfolio */
.section-portfolio {
    background-color: #F4F4FD;
  
   
}

.section-portfolio-heading {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: #2e2f42;
}

.portfolio-list {
    list-style: none;
    justify-content: center;
  
}

.portfolio-item {

   
    align-items: flex-start;
    background: var(--WHITE, #FFF);
}




.portfolio-item-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    justify-content: center;
    align-self: stretch;
}

/* Footer */
.footer-block {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;

}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-paragraph {
    line-height: 1.5;
    color:#F4F4FD;
        letter-spacing: 0.02em;
    }